@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

button,
button:active,
button:focus  {
  border:none;
  cursor: pointer;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #e7e6e6;
}


/*Шапка профиля*/

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 15px #b67fb6;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 0 20px 0;
}

.profile-text{
    margin-left: 50px;
}

.profile-status{
    width: 500px;
    border-top: solid 2px hsl(0, 0%, 0%, 50%);
}

.profile-btn{
    margin-top: 10px;
}

.btn{
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.friends{
    background-color: #225edf
}

.friends:hover{
    background-color: #1a53ce;
}

.messages{
    background-color: #c2c0c0;
    margin-left: 10px;
}

.messages:hover{
    background-color: #ada8a8;
}


/*Блок с фотографиями*/

main{
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}

.photo{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.photo-container{
    width: 200px;
    height: 250px;
    background-color: #1a53ce;
    margin-left: 3px;
}

.red{
    background-color: #e22a33;
}

.green{
    background-color: #00ff0d;
}

.yellow{
    background-color: #dddd38;
}